/* cached: 2-col-index.css */
div#content-container #content{width: 600px;float: left;margin: 0;padding: 0; min-height: 345px; }

div#content-container #content-1{width: 960px;margin: 0;padding: 0;}

div#content-container #content-2{width: 960px;margin: 0 !important;padding: 0;}

div#content-container #sidebar{width: 340px;margin: 0;padding: 0 0 0 10px;float: right; border-left:1px solid #999; min-height: 90%;}

/* cached: modules.css */
input:focus {outline: none;border: none;} .example-text {display:none;} .nivo-controlNav {display: none;} .nivo-directionNav a {background: url("images/arrows.png") no-repeat scroll 0 0 transparent;border: none;display: block;height: 30px;text-indent: -9999px;width: 30px;} .nivo-directionNav a.nivo-nextNav {background-position: -30px 0;right: 15px;} .nivo-directionNav a.nivo-prevNav {background-position: 0 0;left: 15px;} #fancybox-wrap {z-index: 99999999;} #directory-search-sub-page .search-form .search-button {background:transparent url(images/btn_search.gif) no-repeat scroll 0 0;font-size:14px;} .clearline {clear: both;height: 0px;line-height: 0px;overflow: hidden;font-size: 1px;display: block;} .clear_left {clear: left;} h4{margin: 3px 0 10px;}h5{margin: 3px 0 10px;font-size: 0.9em;}p, #newsarticles .newsarticle .content{line-height:18px;}

#ad-list #listings{margin: 0 5px 10px 0;clear: both;text-align: left;padding-left: 4px;}

#ad-list #listings small{margin: 0;padding: 0;color: #666;}#ad-list #listings .listing-horizontal{float: left;width: 300px;padding: 5px;}#ad-list #listings .listing-noimage{width: 200px;background-color: white;border: 1px solid black;}#ad-list #listings .listing-noimage img{display: none;}#ad-list #listings .listing{margin: 10px 0 0 0;}#ad-list #listings .listing img{width: 120px;height: 90px;background-color: #fff;border: 1px solid #cdcdcd;padding: 2px;margin: 0 10px 0 0;float: left;background: #FFF url("images/website.gif") 3px 3px no-repeat;}

#ad-list #listings .listing-noimage h3{padding: 2px 0 0 0;}

/* cached: imagesskin.css */
body{margin: 0;padding: 0;font-family: Arial;font-size: 14px;text-align: center; color:#2d353e;}

div#container{margin: 0 auto;padding: 0;text-align: left;width: 990px;position: relative;}

.clear{clear: both;}img{border: none;}a{color: #394249;}

/*a:hover{color: #f14499;}*/

div#oheader{width: 990px;height: 110px;margin: 0;padding: 0;position: relative;}

.banner-728{float:right;margin:10px 0 0 0;}

div#oheader #header-content h1, div#oheader #header-content h1 a span{display: none;padding: 0;margin: 0;}

div#oheader #header-content #logo{margin: 35px 0 0 0;padding: 0;width: 660px;float: left;}

div#oheader #header-content #logo .logo-title, div#oheader #header-content #logo .logo-title a{color: #FFF;text-decoration: none;font-weight: bold;font-size: 28px;font-family:Segoe UI, Arial;line-height:30px;}

div#oheader #header-content #logo .logo-sub, div#oheader #header-content #logo .logo-sub a{margin: 0 0 0 1px; font-size: 14px;text-decoration: none;}

div#header{width: 990px; font-size: 14px;}

div#header .inner{width: 990px;height: 40px;margin: 0;padding: 0;background:url("images/menu.png");}

#header .navigation-list{float: left;line-height: 40px;padding: 0;}

#header ul{margin: 0 12px;padding: 0;list-style: none;}#navigation-items li{float: left;position: relative;}

#header ul li ul{position: absolute;left: 10px;top: 40px;display: none;z-index: 9999;}#header ul li{display: block;text-decoration: none;}#navigation-items li:hover ul, #navigation-items li.over ul{display: block;}#header .navigation-list #navigation-items a.navigation-button{height: 40px;padding:0 12px;margin: 0;display: block;cursor:pointer;text-decoration: none;}#header .navigation-list #navigation-items a:hover.navigation-button{background:url(images/menu-over.gif);}#header .navigation-list #navigation-items .current a.navigation-button{background:url(images/menu-over.gif) 0px -40px;}#header .navigation-list a .navigation-title{font-size: 14px;font-weight:bold;}#header .navigation-list a:hover .navigation-title{font-weight:bold; }#header .navigation-list .current a .navigation-title{color:#fff;}* html #header .navigation-list #navigation-items span.navigation-button, * html #header .navigation-list #navigation-items a.navigation-button{display: inline-block;}#header .navigation-drop{background-color: #f7f7f7;border: 1px solid #161b21;border-top:2px solid #161b21;width: 165px;z-index: 9999;margin:0 0 0 -10px;}

#header .navigation-drop li a{color: #000;padding: 2px 5px 2px 16px;display: block;width: 144px;text-decoration: none;z-index: 9999;line-height: 20px;font-size:12px;border-bottom:1px solid #ccc;background:url(images/bullet.gif) no-repeat 8px 11px;}

* html #header .navigation-drop li a{width: 165px;}

#header .navigation-drop li a:hover{color:#fff;background-color: #f14499;border-bottom:1px solid #f14499;}

div#content-container{width: 990px;margin: 0;padding: 0;background:#fff;}

div#content-container #content-container-inner{width: 970px;margin: 0 0 0 10px;padding:15px 0 10px 0;}

div#content-container #sidebar .banner{margin: 0 0 10px 0;padding: 0;}

h2{color:#333;  padding:5px; margin: 0 0 8px 0;line-height:24px;font-size: 24px;font-family:Segoe UI, Arial;}

h3{color: #555; padding: 0;margin: 15px 0 8px 0;font-size: 16px;font-family:Segoe UI, Arial;border-bottom:1px dotted #888;}

#content-1 p, #content-2 p{margin:0 0 10px 0;}

#ad-list #listings .listing h3, #ad-list #listings .listing h3 a{border:none;padding:10px 0 0 0; font-size:18px;}

#ad-list #listings .listing p.description, #ad-list #listings .listing .description a{font-size:14px;}

#ad-list #listings .listing p.url, #ad-list #listings .listing .url a{font-size:14px;font-weight:bold;font-family:Segoe UI, Arial; color:#690}


#sidebar #contact-form-container.request-info-container2 #contact-form{margin:0px 0 20px;}

div#bblock{width: 990px; height:125px; margin: 0 auto 20px; padding: 0;  background: none repeat scroll 0 0 #FFFFFF;}

div#bblock #footer .inner{padding: 28px 10px 0px;}

div#bblock #footer p{text-align: center;line-height:24px;}

div#bblock #footer ul{list-style: none;padding: 10px 0 0 0;margin: 0;font-size: 12px;}

div#bblock #footer ul li{list-style: none;padding: 0 10px 0 10px;margin: 0;display: inline;}

div#bblock #footer a{text-decoration:none;}

div#bblock #footer a:hover{text-decoration:underline;color: #ccc;}

div#bblock p{padding: 0;margin: 0;  line-height: 20px; text-align: left;}



#sponsorTitle{
	color: #999999;
    font-size: 12px;
    padding: 4px 0 0 15px;
}

#search_block {
    height: 55px;
    margin: 20px auto 0;
    overflow: hidden;
    width: 600px;
}

#search_block .input{
    -webkit-box-shadow: 2px 2px 1px 1px #cccccc;
    -moz-box-shadow: 2px 2px 1px 1px #cccccc;
    box-shadow: 2px 2px 1px 1px #cccccc; 
    width: 400px;
    height: 40px;
    padding: auto 0;
    border-radius: 14px; 
    -moz-border-radius: 14px; 
    -webkit-border-radius: 14px; 
    border: 1px solid #dddddd;
    color: #000000
}

#search_block  .search_button{
    background:transparent url(images/btn_search.gif) no-repeat scroll 0 0;
    margin: 3px 0 0 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 0;
    cursor: pointer;
}


#related_search li{
	margin:8px 0; 
    font-size: 16px;
    line-height: 22px; font-weight:bold;
}

.footer-links-column{
	border: 1px solid #999999;
    color: #FFFFFF;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    padding: 3px;
    width: 287px; 
}

.footer-links-column a{color:#000; }

.etf > span {
    float: left;
    padding-left: 15px;
    width: 90px;
}

.etf {
    color: #333333;
    display: block;
}

.relContent {
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: left;
}

.relContent p {
    border-bottom: 1px dotted #999999;
    color: #000000;
    font-size: 14px;
    margin: 0 1px;
    padding: 4px 0 3px 12px;
}

.relContent a {
    color: #000000;
    display: block;
    font-size: 14px;
}

#footer {
    height: 90px!important;
    margin-top: 10px!important;
}

#header{
	height:180px;
	background-position: 0px 41px !important;
	background-color: transparent!important;
}


ul {
    list-style: none outside none;
}

.relContent h2 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: 20px 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #0F79D5;
    border-style: none none solid;
    border-width: medium medium 5px;
    height: 49px;
    margin: 0 0 1px;
    overflow: hidden;
    padding: 0;
    text-indent: -999em;
}
.relContent .top_item {
    margin: 0 0 11px;
}

.relContent .col {
    float: left;
    margin-right: 0px;
    width: 280px;
}

.relContent ul {
    padding-bottom: 11px;
}
.relContent li {
    padding: 0 12px;
    text-align:left;
}
.related-list li {
    padding: 3px 0;
    text-align:left;
}
.relContent a:hover, .related-list a:hover {
    color: #4379AD;
    text-decoration: none;
}
.relContent .head_item a {
    display: block;
    padding: 11px 13px;
    position: relative;
}
.relContent .head_item a:hover {
    color: #2B333E;
}
.relContent .head_item {
    background-color: #CFDEE3;
    color: #543825;
    font-family: Verdana,Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin: 11px 0;
    padding: 0;
}
.title 
{
	background: none repeat scroll 0 0 #CCCCCC; 
}
