/* Include Google Font? Uncomment this line...
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
*/
#middle{
	padding-top: 11px;
}
#middle .left{
	display: inline;
	float: left;
	margin: 0;
	width: 760px;
	position: relative;
	margin-left: 15px;
}
#middle .right{
	float: right;
	margin: 0;
	padding: 0;
	width: 230px;
	z-index: 98;
	position: relative;
}.search .form-contents div label, 
.search .form-contents div input, 
.search .form-contents div select {
	float:left;
}
.error-message{
	display: none;
}


#facebox .b {
  background:url(images/b.png);
}

#facebox .tl {
  background:url(images/tl.png);
}

#facebox .tr {
  background:url(images/tr.png);
}

#facebox .bl {
  background:url(images/bl.png);
}

#facebox .br {
  background:url(images/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}



.forms .header{border-bottom:1px solid #A6C6D1;color:#ED7105;display:block;font-size:18px;font-weight:bold;margin:0 0 15px;padding:0 0 10px;}

.forms .strong{color:#454545;display:block;font-size:14px;font-weight:bold;padding:0 0 20px;}
.forms .strong-left{text-align:left;color:#454545;display:block;font-size:14px;font-weight:bold;padding:0 0 20px;}
.forms .strong-right{text-align:right;color:#454545;display:block;font-size:14px;font-weight:bold;padding:0 0 10px;}

.forms p{color:#404040;padding:0 0 20px;font-size:14px;margin:0 0 0 55px;}

.forms .form-row{
	margin: 0 0 20px 55px;
	_margin-bottom:10px;
	text-align:right;
	}
	
.forms .less-padding .form-row{margin: 0 0 10px;}
.forms .no-padding .form-row{margin: 0;}
.forms .last .form-row{margin: 0 0 15px 55px;}
.forms{color:#454545;font-size:14px;margin:0;width:515px;}
.forms a{text-decoration:underline;}
.forms ul{margin: 0 0 15px;}
.forms .form{margin:0 10px 30px 0;}
.forms .merchant-form .form{margin:0 50px 30px 0;}
.forms li{color:#454545;font-size:14px;list-style-position:inside;list-style-type:square;padding:0;}
.forms .form .label{clear:left;color:#454545;display:block;float:left;font-size:14px;font-weight:bold;margin:4px  15px 0 14px;width:105px;}
.forms .form .hours-label{clear:left;color:#454545;display:block;float:left;font-size:14px;font-weight:bold;margin:0 0 7px;}
/*.forms .form .label-2{clear:left;color:#454545;display:block;font-size:14px;font-weight:bold;text-align:right;}
*/.forms .form .label-2{clear:left;color:#454545;display:block;font-size:14px;font-weight:bold;float:left;margin:4px 10px 0 0;width:94px;}
.forms .form .text-field{border:1px solid #CACACA;display:block;height:23px;width:282px;/*float:left;*/}

.forms .form .text-field-2{
	border:1px solid #CACACA;
	display:block;
	height:19px;
	margin:0 0 0 10px;
	padding:1px 0 0;
	width:194px;
	float:left;
	}
	
.forms .form .text-area{width:418px; height:84px; border: solid 1px #cacaca; float:left; clear:both;margin:0 0 20px;}
/*.forms .form .text-field-2{border:1px solid #CACACA;clear:right;display:block;float:right;height:19px;margin:0 155px 0 10px;padding:1px 0 0;width:198px;}*/

.forms .form .select-2{
	border:1px solid #CACACA;
	display:block;
	margin:0 0 0 10px;
	width:194px;
	float:left;
	}
	
.forms .form .text-area-2{
	border:1px solid #CACACA;
	height:115px;
	margin:0 0 0 0;
	width:339px;
	display:block;
	float:left;
	}
	
.forms .form .check-box{vertical-align:top; }
.forms .form .allow-email{display:block;float:right;font-size:10px;margin:8px 0 16px;}
.forms .form .link-right{ display:block; text-align:right; margin:5px 0 0 0;}
.forms .form .select-row{margin:0 140px 0 0;}
.forms .form .select-col{ float:left;margin:0 12px 0 0;width:56px;}
.forms .form .select-col-last{ float:left;margin:0;}
.forms .form .hours-option{border:1px solid #CACACA;display:block;float:right;font-size:14px;height:22px;margin:10px 8px;width:76px;}
.forms .form .radio-row{clear:both;display:block;margin:5px 0 0;text-align:left;}
.forms .form .label-left{color:#454545;font-size:14px;font-weight:bold;float:left; display:block;font-weight:bold;padding:12px 0 0;}
.forms .form .to { display:block;float:right;padding:12px 0 0;}
.forms .form .submit:hover {background-position: 0 0;}

.forms .error-message {
	visibility: hidden;
}


.cms_form .rating_field ul {
padding-left: 0;
margin: 0;
}

.cms_form .rating_field li {
display:inline;
list-style: none;
}


    .cms .rate_stars .rating {
        cursor: pointer;
        display: block;
        width: 100px;
    }
    .cms .rate_stars .rating:after {
        content: '.';
        display: block;
        height: 0;
        width: 0;
        clear: both;
        visibility: hidden;
    }
    .cms .rate_stars .cancel,
    .cms .rate_stars .star {
        float: left;
        width: 17px;
        height: 15px;
        overflow: hidden;
        text-indent: -999em;
        cursor: pointer;
    }
 
   .cms .rate_stars  .done, .done a {
      cursor: default;
    }
 
    .cms .rate_stars .star,
    .cms .rate_stars .star a {background: url(images/star.gif) no-repeat 0 0px;}
 
    .cms .rate_stars .star a {
        display: block;
        width: 100%;
        height: 100%;
        background-position: 0 0px;
    }
 
    .cms .rate_stars .rating .on a {
        background-position: 0 -16px;
    }
	.cms .rate_stars .rating .hover a {
		background-position: 0 -32px;
	}
	
	.cms div.like_button span.inactive_text { display: none; }
	.cms div.like_button.inactive span.inactive_text { display: block; }
	.cms div.like_button.inactive span.active_text { display: none; }/* @group Fonts */
/* @end */
/* @group Global Normalization */
*{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ul{list-style:none outside none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
strong{font-weight: bold;}
li{_height:1%;}/*IE6 fix*/
:focus{outline:none;}/*FF remove dotted link borders*/
::-moz-focus-inner{border:0;}/*FF remove dotted button borders*/
.clear{clear: both;line-height: 1px;height: 0;}
pre{font:13px/18px arial,helvetica,sans-serif; font-weight: bold; }

/* @end */

/* @group Module Normalization */
	/* @group Pagination */
	.paginator{clear:both;float:none;padding:8px 10px 15px;}
	.page-marker {float:left;}
	.pagination{text-align:right;}
	.pagination .pagination {margin: 0;}
	.pagination ul {display: inline;}
	.pagination li {display: inline; padding: 0 1px;}
	.pagination li a {color: #5d5e5d;}
	.pagination li.current a {color:#000;text-decoration:none;}
	.pagination li a:hover {text-decoration: underline; color: #3c7b25}
	.pagination li span {padding: 0 1px 0 4px;}
	.pagination li.current a {font-weight: bold;}
	.pagination li.previous a,
	.pagination li.next a {font-weight:bold}
	.pagination li.next:after {}
	.pagination li.previous:before {}
	/* @end */
	/* @group 404 page */
	.not_found_page, .not_found_page h1, .not_found_page div{text-align:left; font-size: 18px;}
	.not_found_page div{font-size:22px;font-weight:bold;margin: 0 0 10px;}
	.not_found_page{padding:0 0 100px;}
	.not_found_page h1 {display:none;}
	.not_found_page p{font-size:13px;text-align:left; line-height:16px;}
	/* @end */
	/* @group Ordered Lists */
	ol.numbered, ol{margin:0 0 0 20px;*margin-left:30px;}
	ol li, ol ol li, ol ol ol li{display:list-item; vertical-align:top;}
	ol.alpha-lower, ol ol{list-style-type:lower-alpha;margin:1em 0 1em 2em}
	ol ol li{margin:0 0 1em 0;}
	ol.lower-roman, ol ol ol{list-style-type:lower-roman;}
	/* @end */
	/* @group Ads Normalization */
	.ads{padding-bottom: 0px;margin: 0px;}
	.ads{clear:both;_height:1%;}
	.ads .adsnippet_widget{margin:0;}
	.ads .widget_ad{_height:1%;position: relative; cursor: pointer; }
	.ads .widget_brand{color:#999999;margin:0;text-transform:capitalize;font-size:11px}
	.ads .widget_title{cursor: pointer;color:float:none;font-size:16px;font-weight:normal}
	.ads .widget_description{color:#454545;display:block;font-size:13px;}
	.ads .widget_url{cursor: pointer;float:right;/*margin-top:-1.3em;*margin-top:-1.7em;*/color:#454545;display:inline;font-size:13px;}
	.ads_cj img{display:block;}
	/* @end */
	/* @group - banner defaults */
	.banner a{height: 100%;display: block;}	
	.right .banner .contents{padding:0 !important}	
	.banner .hgroup{display: none;}
	/* @end */
/* @end */

/* @group Backgrounds */
html {
}
body {
    background: url("images/homebody-bg.gif") repeat-x scroll 0 0 #ECECDE;
    color: #333333;
    font: 14px 'SansationRegular', Arial, Verdana, Georgia;
    position: relative;
}
#header .bin{
	margin: 0 auto;
	width: 1026px;
	padding: 0 10px;
	position: relative;
}
#header{
	position: relative;
	height: 147px;
}
#wrapper {
	width: 1010px;
	margin: 0 auto;
	background: #fff;
}
/* @end */

/* @group Module Defaults */
#middle .module {
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {font-size: 15px;}

.hgroup h2 {
	padding:15px 0 5px 0;
	font: 18px/1 trebuchet, "Trebuchet MS", sans-serif;
	color: #d89016;
	font-weight: bold;
}

p {margin-bottom: 1.2em;line-height: 18px;}
a {color:#33669A;text-decoration:none;}
a:hover {text-decoration:underline;}


input.error,
textarea.error {
	background: #ffc;
}
div.error {
	color: #f00;
}

/* @group Buttons */

/* GREEN BUTTONS | attach your elements here */

#middle .results_product li a.compare:active,
#middle .results_product_instance_viewmore li a.compare:active,
#middle a.button:active,
#middle a.ask-now:active,
#middle input.submit:active,
#middle .submit-btn:active,
.report-abuse-facebox .submit:active {
}
	
/* @end */

.banner_instance_logo{
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
}
.banner_instance_logo .frame{}
.banner_instance_logo a{
	display:block;
	width: 500px;
	height: 95px;
}
.banner_instance_logo a h1{
    color: #ffffff;
    font: bold 40px 'SansationRegular', Arial, Verdana, Georgia;
    line-height: 95px;
    padding-left: 15px;
}

/* @end */
/* @group Facebox */
#facebox .body {
	padding: 0;
	background: transparent;
}
#facebox .body .content {
	margin: 0 auto;
	padding: 8px;
	border: 1px solid #B6C3D3;
	display: block;
	position: relative;
	overflow: hidden;
	background: #F3F5E7;
	color: #000;
	border-radius: 5px;
}
#facebox .body .content .hgroup h2 {
	color: #395D7E;
	font: bold 24px 'SansationRegular', Arial, Verdana, Georgia;;
	padding: 8px 15px;
}

#facebox .body {
	padding-top: -20px\9;
}
#facebox p {
	margin: 8px 0 0;
}
#facebox .fb2 {
}
#facebox .tl,
#facebox .tr,
#facebox .b,
#facebox .bl,
#facebox .br {
	display: none;
}
#facebox .submit input{
	border: none;
	padding: 10px 50px;
	*padding: 10px;
	font-size: 22px;
}
#facebox .footer {
	margin: 0;
	padding: 0;
	border: 0 none;
}
#facebox .footer .close {
	width: 37px;
	height: 37px;
	background: url(images/facebox-close.png) no-repeat;
	_background: url(images/facebox-close.gif) no-repeat;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;

}
#facebox .footer .close img {
	display: none;
}


#facebox .answer_facebox textarea {
	margin: 10px 0;
	height: 80px;
	width: 350px;
}
/* @end */
/* @group header search */
#header .search {
	position: absolute;
	top: 80px;
}
#header .search .hgroup {
	position: absolute;
	top: 14px;
	left: 0px;
}
#header .search .hgroup,
#header .search .contents {
	float: left;
	position: absolute;
}
#header .search .contents {
	width: 960px;
	top: 27px;
	left: 65px;
}
#header .search .field {
/* 	width: 960px; */
}
#header .search .hgroup h2,
#header .search label {
	color: #637232;
	font: normal 20px "Trebuchet MS",Tahoma,Arial;
}
#header .search .keyword input,
#header .search .location input {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #676767 #989898 #989898 #676767;
	border-style: solid;
	border-width: 1px;
	color: #484848;
	font: 1.2em 'SansationRegular', Arial, Verdana, Georgia;
	margin: 0 12px 0 4px;
	padding: 4px;
}
#header .search .keyword input {width: 500px;}
#header .search .location input {width: 280px;}

#header .search input.submit {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	height: 47px;
	top: -10px;
	right: 0;
	position: absolute;
	width: 48px;
	background: url(images/bt-go.gif) transparent;
	text-indent: -999em;
	*text-transform:uppercase;
	cursor: pointer;
}
/* @end */
/* @group footer */
#footer {
	background: url("images/footer-bg.gif") repeat-x scroll 0 0 transparent;
	bottom: 0;
	color: #626363;
	font: 0.86em "Trebuchet MS",Arial;
	height: 24px;
	margin-top: 0;
	padding: 10px 10px 10px 12px;
	position: relative;
}
#footer .nav {
	float: left;
}
#footer li {
    display: inline;
    margin-right: 10px;
}
#footer li a {
    color: #ECECDE;
}
#footer li a:hover {
	color: #848585;
}
#footer .copyright {
	float: right;
}

label.error {
	font-size: 10px;
	font-weight: normal !important;
	color: #f00;
	text-transform: uppercase;
	margin: 3px;
}
/* @end */
/* @group Contact Form */
.contact_form {
	background: none repeat scroll 0 0 #F3F5E7;
	border: 1px solid #B6C3D3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 10px;
	width: 700px;
}
.contact_form div.field {
	margin-bottom: 10px;
}
.contact_form label {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.contact_form input,
.contact_form textarea {
	width: 280px;
	height: 25px;
}
.contact_form textarea {
	height: 100px;
}

.contact_form .parent_group {
	float: left;
	margin: 10px 20px;
}
.contact_form .group_2 {
	*width: 285px;
}
.contact_form input.submit {
	border: none;
	background: transparent url(images/btn-submit-blue.png) no-repeat;
	_background: transparent url(images/btn-submit-blue.gif) no-repeat;
	height: 30px;
	width: 81px;
	text-indent: -999em;
	float: right;
	cursor: pointer;
	text-transform: uppercase;
}
.left .contact_heading {
	float: none !important;
	padding-left: 10px;
}
.left .contact_heading .hgroup {
	display: block;
}
/* @end */
/* @group Ask Question Home and Ask Question Rail  */
.ask_question {
	background: url(images/home-ask-bg.png) no-repeat transparent;
	height: 438px;
	width: 258px;
	padding: 0 16px;
	position: relative;
	float: left;
	margin: 0 0 0 16px;
}
.ask_question .hgroup {
	display: none;
}
.ask_question .title_field label.error,
.ask_question .location_field label.error,
.ask_question_rail label.error {
	display: none !important;
}
.ask_question .contents {
	padding-top: 85px;
}
.ask_question label {
	color: #6E490B;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
.ask_question textarea {
	height: 110px;
	width: 233px;
	line-height: 16px;
	padding: 8px 6px;
	border: 1px solid #A8B185;
	color: #636363;
	font-size: 14px;	
}

.ask_question input {
	border: 1px solid #A8B185;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    margin: 4px 0 0 0;
    padding: 4px 6px;
    width: 235px;	
}
.ask_question .body_field label.error {
	display: block;
	color: #f00;
	font-weight: bold;
	font-size: 14px;
}
.ask_question input.submit {
	height: 30px;
	width: 81px;
	text-indent: -999em;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: transparent url(images/home-ask-btn.gif) !important;
	border: none !important;
	cursor: pointer;
}

.ask_question_rail {
    background: url(images/box-ask-right.gif) repeat scroll 0 0 transparent;
    color: #395D7E !important;
    height: 404px;
    margin: 0 0 15px;
    overflow: hidden;
    width: 196px;
    padding: 0 10px;
    position: relative;
}

.ask_question_rail .hgroup h2 {
	color: #395D7E;
	display: block;
	font: bold 32px/28px "Arial Rounded MT Bold",'SansationRegular', Arial, Verdana, Georgia;
	letter-spacing: -0.05em;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.ask_question_rail .body_text {
	color: #395D7E;
	font: bold 13px 'SansationRegular', Arial, Verdana, Georgia;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.ask_question_rail label {
	color: #6E490B;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
.ask_question_rail textarea {
	height: 110px;
	width: 182px;
	line-height: 16px;
	padding: 8px 6px;
	border: 1px solid #A8B185;
	color: #636363;
	font-family: 'SansationRegular', Arial, Verdana, Georgia;
	font-size: 14px;	
}

.ask_question_rail input {
	border: 1px solid #A8B185;
    font-family: 'SansationRegular', Arial, Verdana, Georgia;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    margin: 4px 0 0 0;
    padding: 4px 6px;
    width: 182px;	
}
.ask_question_rail input.submit {
	height: 29px;
	width: 80px;
	text-indent: -999em;
	position: absolute;
	bottom: 12px;
	left: 74px;
	background: transparent url(images/home-ask-btn.gif) !important;
	border: none !important;
	cursor: pointer;
}
/* @end */
.left .banner {
	float: left;
}

/* @group Local Results */
.results_local_alternate_instance_featured,
.detail_local_map {
	float: left;
}
.results_local_alternate_instance_featured .hgroup {
	display: none;
}
.results_local_alternate_instance_featured li {
	background: transparent url(images/featured-listings-bg.png) no-repeat;
	width: 293px;
	height: 104px;
	margin-bottom: 8px;
	padding: 8px 0 0 30px;
    color: #395D7E;
}
.results_local_alternate_instance_featured .item_wrapper {
	position: relative;
	padding-left: 36px;
}
.results_local_alternate_instance_featured .item_wrapper .address {
	display: block;
}
.results_local_alternate_instance_featured .interative {
	position: absolute;
	left: 0;
	_left:-35px;
	top: 0;
}
.results_local_alternate_instance_featured li .title {
	color: #000000;
	font-size: 14px;
	white-space: normal;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}
.results_local_alternate_instance_featured li .phone {
	font-size: 11px;
	display: block;
	margin-bottom: 5px;
}
.results_local_alternate_instance_featured a.directions {
	float: left;
	background: transparent url(images/ic-mapit.gif) no-repeat left;
	padding-left: 20px;
	 
}

.results_local_alternate_instance_featured a.comment {
	float: left;
	background: transparent url(images/ic-comment.gif) no-repeat left;
	padding-left: 17px;
	 
}
.results_local_alternate_instance_featured .additional-links a {
	margin: 0 10px 0 0;
	font-size: 11px;
	line-height: 20px;
}
/* @end */
/* @group Map */
#map_iframe {
	border: 1px solid #A2A1A2 !important;
}
/* @end */
/* @group More local results */
.search_instance_nokey {
	background: none repeat scroll 0 0 #395D7E;
	border: 1px solid #A8B185;
	border-radius: 6px;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	margin: 23px 0 5px;
	padding: 10px 11px 6px;
	text-shadow: 1px 1px 3px #333333;	
	_overflow:none;
	height: 22px;
	position: relative;
}
.search_instance_nokey .hgroup {
	float: left;
}
.search_instance_nokey .contents {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 270px;
	*width: 320px;	
	*padding-top:3px;
}
.search_instance_nokey .hgroup h2 {
	color: #fff;
	padding: 0;
	margin: 0;
}

.search_instance_nokey div.keyword {
	display: none;
}
.search_instance_nokey div.location {
	float: left;
}
.search_instance_nokey div.location label {
	font-size: 14px;
}
.search_instance_nokey input#location {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: none;
	color: #686868;
	width:104px;
	padding:5px;
}

.search_instance_nokey input.submit {
	background-color: #D89016;
	border: 1px solid #999999;
	cursor: pointer;
	padding: 5px;	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-left: 10px;
	_margin-left:0px;
}

.heading_search_instance_more,
.heading_search_instance_qa {
	background-color: #D3DDA8;
	border: 1px solid #BBBBBB;
	clear: left;
	display: block;
	font-family: 'SansationRegular', Arial, Verdana, Georgia;
	font-size: 17px;
	margin: 28px 0 14px;
	padding: 9px;
	position: relative;
	text-shadow: 1px 1px 3px white;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;	
	margin-bottom: 0;
}

.heading_search_instance_more h2,
.heading_search_instance_qa h2 {
	margin: 0;
	padding: 0;
	font-family: 'SansationRegular', Arial, Verdana, Georgia;
	font-size: 17px;
	color: #333;	
}
.results_local_alternate_instance_more .hgroup {
	display: none;
}
.results_local_alternate_instance_more li {
	overflow: auto;
	padding:  8px 0 8px 36px;
	border-bottom: 1px dotted #ccc;
	color: #000;
	font-size: 15px;
	position: relative;
}
.results_local_alternate_instance_more .title,
.results_local_alternate_instance_more .distance,
.results_local_alternate_instance_more .address,
.results_local_alternate_instance_more .city,
.results_local_alternate_instance_more .state,
.results_local_alternate_instance_more .zip,
.results_local_alternate_instance_more .phone {
	display: block;
	float: left;
	margin: 0 2px;
}
.results_local_alternate_instance_more .title {
	font-weight: bold;
}
.results_local_alternate_instance_more .address,
.results_local_alternate_instance_more .phone {
	clear: both;
}
.results_local_alternate_instance_more .additional-links {
	position: absolute;
	right: 10px;
	top: 25px;
}
.results_local_alternate_instance_more .additional-links a {
	margin: 0 5px;
}
.results_local_alternate_instance_more a.directions {
	float: left;
	background: transparent url(images/ic-mapit.gif) no-repeat left;
	padding-left: 20px;
	 
}

.results_local_alternate_instance_more a.comment {
	float: left;
	background: transparent url(images/ic-comment.gif) no-repeat left;
	padding-left: 17px;
	 
}

.results_local_alternate_instance_more .interative {
	position: absolute;
	left: 1px;
	top: 8px;
}
/* @end */

.srp_bottom .hgroup {
	display: none;
}

/* @group - CMS QA */

.home-qa {
	clear: both;
}

.qa-top .hgroup h2 {
	background: #395D7E;
	border: 1px solid #A8B185;
	border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin: 23px 0 5px;
	padding: 6px 11px 6px;
	text-shadow: 1px 1px 3px #333333;
	position: relative;
}
.qa-bottom .hgroup h2 {
	background-color: #D3DDA8;
	border: 1px solid #bbb;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	clear: left;
	display: block;
	font-family: 'SansationRegular', Arial, Verdana, Georgia;
	font-size: 17px;
	margin: 28px 0 5px;
	padding: 9px;
	position: relative;
	text-shadow: 1px 1px 3px white;
	color: #333;
}
.qa-srp .parents li {
	 border-bottom: 1px dotted #333333;	
	 padding: 10px 0;
}
.qa-srp .parents .children li {
	border-bottom: none;
	padding: 0;
}

.qa-srp li .parent,
.qa-srp .parents .parent {
	background: url("images/q_btn.gif") no-repeat scroll 6px 12px transparent;
	padding: 10px 30px 1px 45px;
}

.qa-srp li .parent .title,
.qa-srp li .parent .title a,
.qa-srp li .parent .body,
.qa-srp li .parent .body a {
	color: #333;
	display: block;
	font-size: 14px;	 
}

#expert_title {
	color: #333;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: bold;	 
}

.qa-srp li .parent .body a {
    font-weight: bold;
}

.qa-srp li .parent .author_name,
.qa-srp .parents .parent .author_name {
	color: #777877;
	font-size: 9px;
	display: inline;
}

.qa-srp li .parent .author_name span,
.qa-srp .parents .parent .author_name span {
	text-transform: uppercase;
}

.qa-srp li .parent .answer_link,
.qa-srp li .parent .answer_link a,
.qa-srp li .parent .detail_link,
.qa-srp li .parent .detail_link a,
.qa-srp li .parent .delete_link,
.qa-srp li .parent .delete_link a {
	font-size: 11px;
	font-weight: bold;
	margin-left: 5px;
	display: inline;
	color: #33669A;
}
.qa-srp li .parent .delete_link,
.qa-srp li .parent .delete_link a {
	color: #f00;
}

.qa-detail li .children li {
	margin-left: 0;
}

.qa-srp li .children li.child {
    background: url("images/a_btn.gif") no-repeat scroll 6px 6px transparent;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-top: 10px;
    position: relative;
}

.qa-srp li .children .author_name {
	background: none repeat scroll 0 0 #D3DDA8;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	color: #395D7E;
	float: left;
	font: bold 13px Helvetica,Arial,sans-serif;
	left: 41px;
	min-width: 104px;
	padding: 8px 15px;
	position: absolute;
	top: 1px;	
	
}
.qa-srp li .children .body {
	background: none repeat scroll 0 0 #F3F5E7;
	border: 1px solid #B6C3D3;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	display: block;
	margin-left: 40px;
	padding: 35px 10px 15px;
	width: 666px;
}
.qa-srp .like_button {
	float: right;
	padding: 5px 10px;
}
.qa-srp .buttons {
	float: left;	
}
.qa-srp .totalvotes {
	float: left;
	color: #777877;
	font-size: 11px;
}
.qa-srp .like_button a.item_liker {
	background: url(images/vote-up.gif);
	height: 25px;
	width: 25px;
	text-indent: -999em;
	float: left;
	margin-right: 5px;
}
.qa-srp .like_button a.item_liker.inactive {
	background: url(images/vote-up-off.gif);
	cursor: default;
}
.qa-srp .like_button a.item_disliker {
	background: url(images/vote-down.gif);
	height: 25px;
	width: 25px;
	text-indent: -999em;	
	float: left;	
	margin-right: 5px;	
}
.qa-srp .like_button a.item_disliker.inactive {
	background: url(images/vote-down-off.gif);
	cursor: default;
}
.qa-detail-question .hgroup h2 {
	background: none repeat scroll 0 0 #395D7E;
	border: 1px solid #A8B185;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	margin: 23px 0 5px;
	padding: 6px 11px;
	text-shadow: 1px 1px 3px #333333;
	position: relative;
}
.qa-detail .hgroup h2 {
	background-color: #D3DDA8;
	border: 1px solid #BBBBBB;
	border-radius: 6px 6px 6px 6px;
	clear: left;
	display: block;
	font-family: 'SansationRegular', Arial, Verdana, Georgia;
	font-size: 17px;
	margin: 28px 0 5px;
	padding: 9px;
	position: relative;
	text-shadow: 1px 1px 3px white;
	color: #333;
}

/* @end */


/* @group - Question Answer form */
.answer_entry input.submit {
	border: none;
	background: transparent url(images/btn-submit-blue.png) no-repeat;
	_background: transparent url(images/btn-submit-blue.gif) no-repeat;
	height: 30px;
	width: 81px;
	text-indent: -999em;
	text-transform: uppercase;
	margin-top: 10px;
	float: left;
	cursor: pointer;
}

/* @end */

.backfill {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #eee;
	padding: 5px;
	text-align: center;
	color: #f00;
}


/* @group - Subscribe Form */
.subscribe_form {
	width: 216px;
	height: 320px;
	background: url(images/subscribe-bg.png) no-repeat #F3F5E7;
	_background: url(images/subscribe-bg.gif) no-repeat #F3F5E7;
	overflow: hidden;
	position: relative;	

	border: 1px solid #B6C3D3;
    	border-radius: 6px 6px 6px 6px;
    	display: block;
        cursor: pointer;
}
.subscribe_form label.error {
	display: none !important;
}
.subscribe_form label,
.subscribe_form .heading span {
	font-size: 14px;
	color: #395d7e;
	font-weight: bold;
	font-family: 'SansationRegular', Arial, Verdana, Georgia;
}
.subscribe_form .body_text {
	font-size: 14px;
	color: #395d7e;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	padding: 75px 15px 0px;
}
.subscribe_form input.submit {
	width: 127px;
	height: 30px;
	background: transparent url(images/btn-subscribe.png);
	_background: transparent url(images/btn-subscribe.gif);
	border: none;
	bottom: 10px;
	left: 40px;
	position: absolute;
	text-indent: -999em;
	*text-transform:uppercase;
	cursor: pointer;
	
	
	
}
.subscribe_form form {
	padding: 12px;
}
.subscribe_form div.text input {
	width: 182px;
	height: 25px;
	margin-bottom: 8px;
}
.subscribe_form div.subfield {
	float: left;
}
/* @end */

/* @group - Right Banner */
.banner_instance_business_own {
	width: 216px;
	min-height: 320px;
	background: #F3F5E7;
	position: relative;	
	border: 1px solid #B6C3D3;
    	border-radius: 6px 6px 6px 6px;
    	display: block;
}
.banner_instance_business_own .title {
        padding: 15px 15px 10px 15px;
	color: #2E407A;
        font-size: 26px;
}

.right .banner_instance_business_own a {
	display: block;
	height: 100%;
	width: 100%;
}

.banner_instance_business_own .body_text {
	font-size: 14px;
	color: #395d7e;
	font-weight: normal;
	padding: 25px 15px 10px 25px;
        list-style: disc outside none!important;
}

/* @end */
/* @group - Advertise Form */
.advertise_form {
	background: transparent url(images/advertise-form-bg.png) no-repeat;
	width: 650px;
	height: 560px;
}
.advertise_form .body_text {
	margin-bottom: 10px;
	color: #395d7e;
}

.advertise_form label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	color: #395D7E;
}

.advertise_form .contents {
	padding-left: 250px;
	padding-top: 50px;
}
.advertise_form .text input {
	width: 280px;
	height: 20px;
}
.advertise_form .field {
	margin-bottom: 5px;
}
.advertise_form .parent_group .field {
	float: left;
	margin-right: 12px;
}
.advertise_form .city input {
	width: 125px;
}
.advertise_form .zip input {
	width: 80px;
}
.advertise_form .phone {
	clear: both;
}
.advertise_form input.error {
	background: #ffc;
}
.advertise_form input.submit {
	background: transparent url(images/btn-submit-orange.png) no-repeat;
	width: 99px;
	height: 30px;
	text-indent: -999em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	float: right;
	margin-top: 10px;
	margin-right: 120px;
}
.advertise_form label.error {
	display: none !important;
}
/* @end */

/* @group - User Login */
.user_login {

}
.user_login .login_link  {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #fff;
	text-indent: -999em;
	background: url(images/bt-login.png);
	_background: url(images/bt-login.gif);
	width: 63px;
	height: 24px;
}
.user_login {
    position: absolute;
    right: 5px;
    top: 5px;
    padding-left: 15px;
    color: #fff;
}
.user_login a {
    color: #fff;
    font-size: 14px;
}
/* @end */
/* @group - User Registration Form */
.member_create .contents {
	background: none repeat scroll 0 0 #F3F5E7;
	border: 1px solid #B6C3D3;
	border-radius: 6px 6px 6px 6px;
	padding: 10px;
}
.member_create .contents div {
	margin-bottom: 8px;
}
.member_create .contents .label {
	font-weight:bold;
}

.member_create .contents input {
	width: 250px;
	height: 20px;
	display: block;
}

.member_create input.submit {
	background: transparent url(images/btn-join.png) no-repeat;
	_background: transparent url(images/btn-join.gif) no-repeat;
	border: none;
	width: 95px;
	height: 30px;
	text-indent: -999em;
	text-transform: uppercase;
	cursor: pointer;
}
/* @end */


/* @group member_login + forgotpassword */
.fb1 {
    padding: 0 0 165px;
    width: 393px;
}
.member_login{
	margin-bottom: 10px;
	zoom:1;
}
.member_login .contents{
}
.member_forgotpassword label,
.member_login label{
	display: block;
	color: #112233;
	font-weight: bold;
}
#forgot_password_form label{
	padding: 5px 7px 0 0;
	_padding: 12px 7px 0 0;
	float: left;
}
#forgot_password_form{
	padding: 10px;
	_background: #F3DAB5;
	margin: 10px 15px 0 3px;
	height: 100px;
	_height: 130px;
	zoom:1;
	position: relative;
}
.member_forgotpassword input,
.member_login input{
	display: block;
	margin-bottom: 15px;
	width: 343px;
	padding: 4px;
	height: 20px;	
}
.member_forgotpassword input{
	width: 253px;
	_width: 245px;
}
.member_login .submit{
	width: 130px;
	height: 40px;
	background: transparent url(images/btn-login.png) no-repeat;
	_background: transparent url(images/btn-login.gif) no-repeat;
	margin-top: 20px;
	_margin-top: 10px;
	_margin-left:3px;
	float: left;
	box-shadow: none;
	-moz-box-shadow: none;
	border: none;
	text-indent: -999em;
	color: #fff;
	line-height: 40px;
	font-size: 20px;
}
.member_forgotpassword .submit{
	margin: 0 0 0 189px;
	_margin: 0 0 0 112px;
	width: 131px;
	height: 40px;
	text-indent: -999em;
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: transparent url(images/btn-resend.png) no-repeat;
	_background: transparent url(images/btn-resend.gif) no-repeat;
}
.member_login .message{
	font-size: 14px;
	color: #f00;
	
	width: 400px;
	height: 20px;
	line-height: 20px;
}
.member_login .register{
	margin: -66px 0 20px 135px;
	margin: -50px 0 20px 135px\9;
	_margin: -66px 0 20px 145px;		
}
@-moz-document url-prefix() {
	.member_login .register {
	    margin: -51px 0 20px 135px;
	}
	.member_forgotpassword input {
	    width: 251px;
	}
	#forgot_password_form label {
	    padding: 16px 7px 0 0;
	}
} 
.member_login .other_logins{
	background: url(images/otherLogins.jpg) top center no-repeat;
	position: absolute;
	bottom:19px;
	left: 32px;
	width: 341px;
	height: 143px;
	zoom:1;
}
.member_forgotpassword{
	margin:-5px 0 0 7px;
	_margin:-40px 0 0 7px;
}
.member_login .other_logins a{
	display: block;
	width: 101px;
	height: 60px;
	position: absolute;
	text-indent: -9999px;
	overflow: hidden;
	top: 55px;
}
.member_login .other_logins .yahoo_login_link{
	right: 10px;
}
.member_login .other_logins .google_login_link{
	left: 2px;
}
.member_login .other_logins .facebook_login_link{
	left: 116px;
}
.member_login .other_logins .fb_button_text{
	display: none;
}
.forgot_password_form label.error {
	display: none !important;
}
/* @end */

/* @group - Homepage More Questions link */
.banner_instance_more_questions a {
	font: bold 14px 'SansationRegular', Arial, Verdana, Georgia;
	text-align: right;
	text-transform: capitalize;
	color: #323232;
	float: right;
	margin-bottom: 20px;
}
.banner_instance_more_questions a:hover {
	text-decoration: underline;
}
/* @end */
/* @group delete form */
.forms_cms_delete #hgroup {
	font-size: 16px;
	font-weight: bold;
}

.forms_cms_delete input.submit {
	text-indent: -999em;
	text-transform: uppercase;
	border: none;
	background: transparent url(images/btn-delete.png) no-repeat;
	_background: transparent url(images/btn-delete.gif) no-repeat;
	width: 130px;
	height: 30px;
	cursor: pointer;
	margin: 10px 0;
}
/* @end */

/* @group Get Directions Form */
#directionsform {
	
}

#directionsform input#from {
	width: 250px;
	height: 25px;
	margin: 10px;
}

#directionsform .submit input {
	background: transparent url(images/btn-submit-orange.png) no-repeat;
	width: 99px;
	height: 30px;
	text-indent: -999em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	margin-left: 10px;
	float: left;
}
/* @end */
/* @group Location Comment Form */
#form_12812 .text label,
#form_12812 .textarea label {
	display: block;
}
#form_12812 .text input {
	width: 300px;
	height: 25px;
	margin-bottom: 10px;	
}
#form_12812 textarea {
	width: 300px;
	height: 80px;
	margin-bottom: 10px;
}
#form_12812 input.submit {
	background: transparent url(images/btn-submit-orange.png) no-repeat;
	width: 99px;
	height: 30px;
	text-indent: -999em;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	float: right;
}
/* @end*/

/* Ads */
/*--------------------------------------------------------------------------------------- */
/*--------------------------------------------------------------------------------------- */
.left .ad-728x90,
.ad-728x90 a {
	float: none;
	display: block;
	width: 728px;
	height: 90px;
}
.ad-250x250,
.ad-250x250 a {
	display: block;
	width: 250px;
	height: 250px;
}
.ad-300x250,
.ad-300x250 a {
	display: block;
	width: 300px;
	height: 250px;
}


#ask-question-form{display:none;}
/* @end */

#results{
        padding:0px 10px 0px 45px;
}
a.URLtop {
    	color: #063BA5 !important;
    	font-size: 16px;
    	font-weight: bold;
	text-decoration: underline !important;
}

a.URLtext{
	font-size: 14px; 
	color: #333333 !important; 
	text-decoration: none !important;
}

a.URLbottom {
	color: #679B00;
    font-size: 14px;  
    text-decoration: underline !important;
}

.etf {
    clear: left;
    color: #333333;
    display: block;
}

.etf > span {
    float: left;
    padding-left: 15px;
    width: 90px;
}




